body {
  color:black;
}

h1 {
  color:darkmagenta;
  background-color:bisque;
  ;
}

.quote {
  color:darkslategray;
}

.quote.narrator {
  color:cadetblue;
  background-color: bisque;
}

#intro p {
  color:darkslategray;
}

.super-important-omg {
  background-color: bisque;
}
